.header {
  /* Esta é a barra de largura total */
  width: 100%;
  background-color: #222629;
  border-bottom: 1px solid #4f4f47;
}

.header-content {
  /* A classe .container lida com a largura, o preenchimento e a centralização */
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px; /* Uma altura fixa para o cabeçalho é uma boa prática */
}

.header-logo a {
  font-size: 1.5rem;
  font-weight: bold;
  color: #ffc506;
  text-decoration: none;
}
.header-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 1.5rem;
}

.header-nav a {
  text-decoration: none;
}

.header-nav a:hover {
}

.btn {
  font-size: 17px;
  background: transparent;
  border: none;
  padding: 1em 1.5em;
  color: #ffc506;
  text-transform: uppercase;
  position: relative;
  transition: 0.5s ease;
  cursor: pointer;
  font-weight: 500;
}

.btn::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  background-color: #ffc506;
  transition: 0.5s ease;
}

.btn:hover {
  color: #ffc506;
  transition-delay: 0.5s;
}

.btn:hover::before {
  width: 100%;
}

.btn::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 0;
  width: 100%;
  background-color: #ffc506;
  transition: 0.4s ease;
  z-index: -1;
}

.btn:hover::after {
  height: 100%;
  transition-delay: 0.4s;
  color: aliceblue;
}
